body {
	background: url(/assets/images/intersection.png);
	/*background-repeat: repeat;*/
}
#column {
	width: 960px;
	margin: 0 auto;
}
p {
	background: url(/assets/images/intersection.png);
	/*background-repeat: repeat;*/
}